<div class="container">
    <div>
        <img
            src="https://lh3.googleusercontent.com/ZqM5QD5MAjNxyyy_lyPzI5pKtqYRwShY4aSFc-cZcexGQj7eL2II7K_6lCk8HuvzdIrrHI-m0ujotAr4yttxk9lNhI5IJVBkTVnjFwLqBj5us0wWOzQmkJImBrJw93t5nGHIdWf7LkLouCCJoLw5VgKFBudpUVN4V4ozUyz6vzwEYtC_Xk_g6JHtjsOyBCd1iZ_dW0L0Ho2nsCDFzvVZC4MT1EqL1ZvvxRyfa-XsSyErtP7Dwlt9uRxnPWXmfHPM1KVQZwQZaVsESWjzVTWwBOiE1984PU_8MhBxDzhdganltvYA00xTAdaTDt5jJ-9wDSeTG8-hS8izOS7s_mL3mpj8c2KBsViPlTrqTPqmy7E8BoIA5ZddkGcazH8nFl5pk4Bq194f4jOTzs_qAN8-YJam_ioCg4J3hpS6CTQIewpRfEZgIQgeVXwkcQCEHt6mg7Oec7cEOhijcZjEH0Yi8gYc5ooyzUCriC0NyOVQkejW33mgcw7TM0g1QNSDrbpHv1qYUNNDdfSDNw8f715EykXv2BQR_SZ4WNyu1D00Tsnc_vV9dfWR4s_HbY67Awn2IKCTPt-Ew2h7EssCIlQxucB9YWWi3psyxeb85Tn7KRDcvFEcihIrZZZMzoxnF7G7gdoo6x03dATPnmAjRsrfIbQuS9TSXEpFQoGI21jw6SOrRYjsr4f9ZTg7DaNE81vvVcKtGXuV9CS0RyDknHrM251R9y8YNDno98vichgv1z6uisUtuALs8WH91yjmpWMfY2vZk7Ty5f8X3zq4iUCWhffUCk_iFqK2Rg=w1099-h824-no?authuser=2">
    </div>
    <div>
        <h1>Historia</h1>
        <p>En el registro civil figuran como Adi y Alejandro Barrasa, pero si les llamas por ese nombre lo más probable
            es que ni
            se de por aludido porque desde sus tiempos de grafiteros virtuales solo atiende cuando se dirigen a él grupo
            El Equipo A(burrido), el nombre
            de guerra que mantiene hasta hoy, con 23 y 19 años. Actualmente, regenta un negocio de formación online para
            productores de video y videojuegos, con el que ya hemos facturado ya más de 3 millones de euros. Corresponde
            a nuestro último de nuestros
            emprendimientos y, por ahora, lo lleva bien, pero tiene claro que si algún día deja de satisfacerle lo que
            hace,
            lo dejará. Más que el dinero, lo que impulsa a El Equipo A(burrido) es la motivación.
            Antes que los cursos de formación, El Equipo A(burrido) gestó otros emprendimientos en los que el
            denominador común es hacerlos
            crecer con la misma habilidad con la que se derrumban. Como programador y configuradores de PC de los
            mejores
            país, terminó firmando contratos con grandes empresas de software.
            Pero el dinero generado se perdio debido a la cracion de un macroempresa con ubicacion en el centro de
            Madrid,
            pero este nos llevo a la ruina,pero en la vida no solo hay que quedarse con lo negativo tambien aprendimo de
            lo que hicimos mal que despues nos llevaria al exito de nuevo mas tarde.
            Dos semanas El Equipo A(burrido) se dedicó a lamerse las heridas. Hecho el trabajo de purificación, pidió un
            nuevo crédito
            al banco para montar otro estudio cada uno , ahora, como deciamos, un ‘home estudio’, que hacía también
            de domicilio. Bajo la marca AA Bussines empezó El Equipo A(burrido) por separado a trabajar a destajo y
            tirando los precios. Las
            configuracionPCs y las ventas de componentes, las hacía en los ratos libres que le dejaban sus trabajos como
            camillero de hospital y camarero del restaurante de Jordi Cruz
            cuyos ingresos iban a parar, mayoritariamente, al pago de la deuda y a la adquisición de la droga debido al
            estres generado que, entonces,
            “consumía a saco”.
            La oportunidad se le presenta cuando le proponen grabar con Nate Gentile, referente nacional en el panorama
            tecnologico.
            Apartaban definitivamente la droga de su vida para concentrarse solo en su trabajo. A Nate Gentile le
            sucedieron muchos
            otros, pero tampoco el nuevo éxito calmaba sus inquietudes personales.
            A sus 25 y 21 años, deciden cerrar sus estudios y comprar un pasaje, solo de ida, a las Islas Maldivas. Es
            en ese vivir a salto
            de mata donde El Equipo A(burrido) encuentra su elemento magico. Y desde la incertidumbre, en la que él se
            siente cómodo, sigue
            lanzando proyectos emprendedores, preferentemente en forma de infoproductos orientados a la industria
            musical,
            donde vuelve a triunfar.
        </p>
    </div>
</div>
<div class="mejor">
    <div>
        <h1> LO MEJOR DEL DIA</h1>
    </div>
    <div>
        <img class="img"
            src="https://www.teveoenmadrid.com/wp-content/uploads/2020/03/los-mejores-pinchos-tortilla-te-veo-en-madrid-1024x565.jpg">
    </div>
</div>