<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div  *ngFor="let categoria of categorias">
  
  <p>nombre:{{categoria?.nombre}}</p>
  <p>Descripcion:{{categoria?.descripcion}}</p>
  <p>Imagen:{{categoria?.imagen}}</p>
 
</div>
<div class="w3-container">
   
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>
  
    <div id="id01" class="modal">
      <div class="modal-body">
        <div class="modal-head">
            <h2>Categorias</h2>
        </div>
        <div class="modal-body-content">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <form #addForm="ngForm" (ngSubmit)="AddCategoria(addForm)">
            <div class="form">
              <input type="text" ngModel name="nombre" id="nombre" autocomplete="off" required />
              <label for="name" class="label-name">
                  <span class="content-name">Nombre</span>
              </label>
            </div>
            <div class="form">
              <input type="text" ngModel name="descripcion" id="descripcion" autocomplete="off" required />
              <label for="name" class="label-name">
                  <span class="content-name">Descripcion</span>
              </label>
            </div>
              <div >
                <div class="mt-sm ">
                  <span onclick="document.getElementById('id01').style.display='none'" class="span">Cerrar</span>
                   <button [disabled]="addForm.invalid" type="submit" class="span" onclick="document.getElementById('id01').style.display='none'">
                      Añadir
                   </button>
                </div>
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
              



        
        