@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content p span{
  font-size: 12px;
  font-weight: bold;
}

#rebaja{
  background-color: #f35a5a;
  margin-left: 4px;
  border-radius: 3px;
  color: white;
    font-weight: bold;
    padding: 2px;
}
img{
    height: 200px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1240px;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  margin: 0px;
  border: none;
  transition: 0.5s;
  margin-top: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .5s;
}

.container .card .box:hover {
  box-shadow: 3px 2px 2px rgb(189, 189, 189);
  margin-top: -20px;
  height: 300px;
  border: 1px rgb(184, 184, 184) solid;
}

.container .card .box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}
.container .card .box .content h3 {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.container .card .box .content p {
  font-size: 1rem;
  font-weight: bold;
  font-style: bold;
  color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.container .card .box .content a {
  display: none;
}
.container .card:hover .box .content a{
margin: 10px;
position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #2196f3;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 2s;
}
.container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
