
<link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.0/css/all.css">
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#b93838" type = "triangle-skew-spin" [fullScreen] = "true"><p style="color: white" > Jefe Espera </p></ngx-spinner>
<div class="container">
 
  <div class="card addCard">
    <button (click)="download()" >Excel<i class="fa fa-trash"></i></button>
    <div class="box addBox" (click)="abrir(null, 'add')">
   
      <i class="fa-solid fa-plus fa-3x"></i>
    </div>
  </div>
  <div class="card" *ngFor="let producto of productos | paginate: {itemsPerPage: pageSize,
    currentPage: page,
    totalItems: count}">
    <div class="box">
      <div>
        <img src="https://thumb.pccomponentes.com/w-220-220/articles/13/132145/dpp-2640.jpg" alt="">
        <div class="content">

          <h3>{{producto.nombre}}</h3>
          <p>{{precioRebajado(producto.precio, producto.rebaja)}}€
            <span><del>{{producto.precio}}</del></span>
            <span id="rebaja">{{producto.rebaja}}%</span>
          </p>
          <div>
          <a (click)="abrir(producto,'eliminar')"class="deleteButton"><i class="fa fa-pen"></i></a>
          <a (click)="abrir(producto,'update')" class="updateButton"><i class="fa fa-trash"></i></a>
          
          </div>
          <a href="#">Comprar</a>

        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="id02" class="modal">
      <div class="modal-body" *ngIf="deleteProductos">
        <div class="modal-head">
          <h2>Categorias</h2>
        </div>
        <div class="modal-body-content">
          <span (click)="cerrar('eliminar')"
            class="w3-button w3-display-topright">&times;</span>
          <h4>¿Estas seguro de que quieres eliminar la
            {{deleteProductos.nombre}}?</h4>
          <span (click)="cerrar('eliminar')" class="span">No</span>
          <button type="submit" class="span"
            (click)="cerrar('eliminar'); onDeleteProductos(deleteProductos.id)">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="id01" class="modal">
    <div class="modal-body">
      <div class="modal-head">
        <h2>Pedidos</h2>
      </div>
      <div class="modal-body-content">
        <form #addForm="ngForm" (ngSubmit)="AddProductos(addForm)">
          <div class="form">
            <input type="text" ngModel name="nombre" id="nombre"
              autocomplete="off" required />
            <label for="nombre " class="label-name">
              <span class="content-name">Nombre</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="precio" id="precio"
              autocomplete="off" required />
            <label for="precio" class="label-name">
              <span class="content-name">Precio</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="rebaja"
              autocomplete="off" required />
            <label for="rebaja" class="label-name">
              <span class="content-name">Rebaja</span>
            </label>
          </div>
          <div>
            <button (click)="cerrar('add')" type="button" class="span">Cerrar</button>
            <button [disabled]="addForm.invalid" type="submit" class="span"
              (click)="cerrar('add')">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div>
    <div id="id03" class="modal">
      <div  class="modal-body" *ngIf="updateProductos">
        <div class="modal-head">
          <h2>Productos</h2>
        </div>
        <div class="modal-body-content">
          <span (click)="cerrar('update')"
            class="w3-button w3-display-topright">&times;</span>
          <form #editForm="ngForm">
            <div class="form">
              <input type="text" ngModel name="nombre" id="nombre"
                autocomplete="off" required [(ngModel)]="updateProductos.nombre"/>
              <label for="nombre" class="label-name">
                <span class="content-name">Nombre</span>
              </label>
            </div>
            <div class="form">
              <input type="text" ngModel name="precio" id="precio"
                autocomplete="off" required [(ngModel)]="updateProductos.precio"/>
              <label for="precio" class="label-name">
                <span class="content-name">Precio</span>
              </label>
            </div>
            <div class="form">
              <input type="text" ngModel name="rebaja" id="rebaja"
                autocomplete="off" required [(ngModel)]="updateProductos.rebaja"/>
              <label for="rebaja" class="label-name">
                <span class="content-name">Rebaja</span>
              </label>
            </div>
            <div>
              <span (click)="cerrar('update')" class="span">Cerrar</span>
              <button type="submit" class="span"
                (click)="onUpdateProductos(updateProductos); cerrar('update');">
                Añadir
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<footer class="footer">
  <pagination-controls
  (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguente"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</footer>
    
  