<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngFor="let usuario of usuarios">
    <p>Nombre:{{usuario?.nombre}}</p>
    <p>Apellido:{{usuario?.apellido}}</p>
    <p>Apellido2:{{usuario?.apellido2}}</p>
    <p>Ciudad:{{usuario?.ciudad}}</p>
    <p>Email:{{usuario?.email}}</p>
    <p>Direccion:{{usuario?.lineadireccion1}}</p>
    <p>Pais:{{usuario?.pais}}</p>
</div>

<div class="w3-container">

    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open
        Modal</button>
        <div id="id01" class="modal">
            <div class="modal-body">
              <div class="modal-head">
                <h2>Pedidos</h2>
              </div>
              <div class="modal-body-content">
                <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
                <form #addForm="ngForm" (ngSubmit)="AddUsuarios(addForm)">
                  <div class="form">
                    <input type="text" ngModel name="nombre" id="nombre" autocomplete="off" required />
                    <label for="nombre" class="label-name">
                      <span class="content-name">Nombre</span>
                    </label>
                  </div>
                  <div class="form">
                    <input type="text" ngModel name="apellido" id="apellido" autocomplete="off" required />
                    <label for="apellido" class="label-name">
                      <span class="content-name">Apellido</span>
                    </label>
                  </div>
                  <div class="form">
                    <input type="text" ngModel name="apellido2" id="apellido2" autocomplete="off" required />
                    <label for="apellido2" class="label-name">
                      <span class="content-name">Apellido2</span>
                    </label>
                  </div>
                  <div class="form">
                    <input type="text" ngModel name="ciudad" id="ciudad" autocomplete="off" required />
                    <label for="ciudad" class="label-name">
                      <span class="content-name">Ciudad</span>
                    </label>
                  </div>
                  <div class="form">
                    <input type="text" ngModel name="email" id="email" autocomplete="off" required />
                    <label for="email" class="label-name">
                      <span class="content-name">Email</span>
                    </label>
                  </div>
                 
                  <div class="form">
                    <input type="text" ngModel name="lineadireccion1" id="lineadireccion1" autocomplete="off" required />
                    <label for="lineadireccion1" class="label-name">
                      <span class="content-name">Direccion</span>
                    </label>
                  </div>
                  <div class="form">
                    <input type="text" ngModel name="pais" id="pais" autocomplete="off" required />
                    <label for="pais"class="label-name">
                      <span class="content-name">Pais</span>
                    </label>
                  </div>
                  <div>
                    <span onclick="document.getElementById('id01').style.display='none'" class="span">Cerrar</span>
                    <button [disabled]="addForm.invalid" type="submit" class="span"
                      onclick="document.getElementById('id01').style.display='none'">
                      Añadir
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
</div>