
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngFor="let pedido of pedidos">
    <p>ID:{{pedido?.id}}</p>
    <p>Fecha:{{pedido?.fecha}}</p>
    <p>usuariosId: {{pedido?.usuarioId}}</p>
    <button (click)="abrir(pedido,'eliminar')">Eliminar</button>
    <button (click)="abrir(pedido,'update')">Editar</button>
</div>
<div class="w3-container">
   
   
    <button (click)="abrir(null,'add')" class="w3-button w3-black">Open Modal</button>
  <div id="id01" class="modal">
    <div class="modal-body">
      <div class="modal-head">
        <h2>Pedidos</h2>
      </div>
      <div class="modal-body-content">
        <span (click)="cerrar('add')"
          class="w3-button w3-display-topright">&times;</span>
        <form #addForm="ngForm" (ngSubmit)="AddPedidos(addForm)">
          <div class="form">
            <input type="text" ngModel name="fecha" id="fecha"
              autocomplete="off" required />
            <label for="fecha " class="label-name">
              <span class="content-name">Fecha</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="cantidad" id="cantidad"
              autocomplete="off" required />
            <label for="cantidad " class="label-name">
              <span class="content-name">Cantidad</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="usuarioId" id="usuarioId"
              autocomplete="off" required />
            <label for="usuarioId" class="label-name">
              <span class="content-name">UsuarioId</span>
            </label>
          </div>
          <div>
            <span (click)="cerrar('add')" class="span">Cerrar</span>
            <button [disabled]="addForm.invalid" type="submit" class="span"
              (click)="cerrar('add')">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
</div>
<div>
    <div id="id02" class="modal">
        <div class="modal-body" *ngIf="deletePedidos">
            <div class="modal-head">
                <h2>Pedidos</h2>
            </div>
            <div class="modal-body-content">
                <span (click)="cerrar('eliminar')" class="w3-button w3-display-topright">&times;</span>
                <h4>¿Estas seguro de que quieres eliminar la
                    {{deletePedidos.id}}?</h4>
                <span (click)="cerrar('eliminar')" class="span">No</span>
                <button type="submit" class="span"
                    (click)="cerrar('eliminar'); onDeletePedidos(deletePedidos.id)">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<div id="id03" class="modal">
    <div class="modal-body" *ngIf="updatePedidos">
      <div class="modal-head">
        <h2>Pedidos</h2>
      </div>
      <div class="modal-body-content">
        <span (click)="cerrar('update')"
          class="w3-button w3-display-topright">&times;</span>
        <form #editForm="ngForm">
          <div class="form">
            <input type="text" ngModel name="fecha" id="fecha"
              autocomplete="off" required [(ngModel)]="updatePedidos.fecha"/>
            <label for="fecha" class="label-name">
              <span class="content-name">Fecha</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="usuarioId" id="usuarioId"
              autocomplete="off" required [(ngModel)]="updatePedidos.usuarioId"/>
            <label for="usuarioId" class="label-name">
              <span class="content-name">UsuarioId</span>
            </label>
          </div>
          <div>
            <span (click)="cerrar('update')" class="span">Cerrar</span>
            <button type="submit" class="span"
              (click)="onUpdatePedidos(updatePedidos); cerrar('update');">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  