
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngFor="let pedido of pedidos">
    <p>ID:{{pedido?.id}}</p>
    <p>Fecha:{{pedido?.fecha}}</p>
    <p>usuariosId: {{pedido?.usuarioId}}</p>
</div>
<div class="w3-container">
   
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>
  
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <form #addForm="ngForm" (ngSubmit)="AddPedidos(addForm)">
            <div>
              <label>Fecha</label>
              <input type="text" ngModel name="fecha"  id="fecha" placeholder="fecha" >
            </div>
            <div>
              <label>UsuarioId</label>
              <input type="text" ngModel name="usuarioId"  id="usuarioId" placeholder="usuarioId" >
              </div>
              <div>
            
                <div class="mt-sm ">
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display" >Close</span>
                </div>
                <div class="mt-sm ">
                   <button [disabled]="addForm.invalid" type="submit">
                      Añadir
                   </button>
                </div>
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>