 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">>
	<header id="header">
		<div class="main-container">
		<nav class="navbar" id="nav" (scroll)="onWindowScroll();">
			<div class="content">
			  <div class="logo">
				<a href="/productos/all">Tienda PC</a>
			  </div>
			  <ul class="menu-list">
				<div class="icon cancel-btn">
				  <i class="fas fa-times"></i>
				</div>
				<li><a href="/productos/all">Productos</a></li>
				<li><a href="/categoria/all">Categorias</a></li>
				<li><a href="/pedidos/all">Pedidos</a></li>
				<li><a href="/detallePedidos/all">DetallePedidos</a></li>
				<li><a href="/usuarios/all">Usuarios</a></li>
			  </ul>
			  <div class="icon menu-btn">
				<i class="fas fa-bars"></i>
			  </div>
			</div>
		  </nav>
		  <router-outlet></router-outlet>
		</div>
	</header>

