<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngFor="let DetallePedidos of detallePedidos">
    <p>ID:{{DetallePedidos?.id}}</p>
    <p>PedidoId:{{DetallePedidos?.pedidoId}}</p>
    <p>Cantidad:{{DetallePedidos?.cantidad}}</p>
    <p>PrecioUnidad:{{DetallePedidos?.precioUnidad}}</p>
    <p>ProductosId:{{DetallePedidos?.productosId}}</p>
    <button (click)="abrir(DetallePedidos,'eliminar')">Eliminar</button>
    <button (click)="abrir(DetallePedidos,'update')">Editar</button>

</div>


<div class="w3-container">

    <button (click)="abrir(null,'add')" class="w3-button w3-black">Open Modal</button>
    <div id="id01" class="modal">
        <div class="modal-body">
            <div class="modal-head">
                <h2>DetallePedidos</h2>
            </div>
            <div class="modal-body-content">
                <span (click)="cerrar('add')" class="w3-button w3-display-topright">&times;</span>
                <form #addForm="ngForm" (ngSubmit)="AddDetallePedidos(addForm)">
                    <div class="form">
                        <input type="text" ngModel name="pedidoId" id="pedidoId" autocomplete="off" required />
                        <label for="pedidoId " class="label-name">
                            <span class="content-name">PedidoId</span>
                        </label>
                    </div>
                    <div class="form">
                        <input type="text" ngModel name="cantidad" id="cantidad" autocomplete="off" required />
                        <label for="cantidad " class="label-name">
                            <span class="content-name">Cantidad</span>
                        </label>
                    </div>
                    <div class="form">
                        <input type="text" ngModel name="precioUnidad" id="precioUnidad" autocomplete="off" required />
                        <label for="precioUnidad" class="label-name">
                            <span class="content-name">PrecioUnidad</span>
                        </label>
                    </div>
                    <div class="form">
                        <input type="text" ngModel name="productosId" id="productosId" autocomplete="off" required />
                        <label for="productosId" class="label-name">
                            <span class="content-name">ProductosId</span>
                        </label>
                    </div>
                    <div>
                        <span (click)="cerrar('add')" class="span">Cerrar</span>
                        <button [disabled]="addForm.invalid" type="submit" class="span" (click)="cerrar('add')">
                            Añadir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <div id="id02" class="modal">
        <div class="modal-body" *ngIf="deleteDetallePedidos">
            <div class="modal-head">
                <h2>Categorias</h2>
            </div>
            <div class="modal-body-content">
                <span (click)="cerrar('eliminar')" class="w3-button w3-display-topright">&times;</span>
                <h4>¿Estas seguro de que quieres eliminar la
                    {{deleteDetallePedidos.pedidoId}}?</h4>
                <span (click)="cerrar('eliminar')" class="span">No</span>
                <button type="submit" class="span"
                    (click)="cerrar('eliminar'); onDeleteDetallePedidos(deleteDetallePedidos.id)">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<div id="id03" class="modal">
    <div class="modal-body" *ngIf="updateDetallePedidos">
      <div class="modal-head">
        <h2>Categorias</h2>
      </div>
      <div class="modal-body-content">
        <span (click)="cerrar('update')"
          class="w3-button w3-display-topright">&times;</span>
        <form #editForm="ngForm">
          <div class="form">
            <input type="text" ngModel name="pedidoId" id="pedidoId"
              autocomplete="off" required [(ngModel)]="updateDetallePedidos.pedidoId"/>
            <label for="pedidoId" class="label-name">
              <span class="content-name">PedidoId</span>
            </label>
          </div>
          <div class="form">
            <input type="text" ngModel name="cantidad" id="cantidad"
              autocomplete="off" required [(ngModel)]="updateDetallePedidos.cantidad"/>
            <label for="cantidad" class="label-name">
              <span class="content-name">Cantidad</span>
            </label>
          </div>
          <div>
            <span (click)="cerrar('update')" class="span">Cerrar</span>
            <button type="submit" class="span"
              (click)="onUpdateDetallePedidos(updateDetallePedidos); cerrar('update');">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>