

      <div id="id01" class="">
        <div class="modal-body">
          <div class="modal-head">
            <h2>Enviar email</h2>
          </div>
          <div class="modal-body-content">
            <form  #sendForm="ngForm" (ngSubmit)="sendMail(sendForm)">
              <div class="form">
                <input type="text" ngModel name="email" id="email"
                  autocomplete="off" required />
                <label for="email " class="label-name">
                  <span class="content-name">Email</span>
                </label>
              </div>
              <div class="form">
                <input type="text" ngModel name="asunto" id="asunto"
                  autocomplete="off" required />
                <label for="asunto" class="label-name">
                  <span class="content-name">Asunto</span>
                </label>
              </div>
              <div class="form" id="textDiv">
                <textarea type="text" ngModel name="mensaje" id="mensaje"
                  autocomplete="off" required class="inp" maxlength="500"></textarea>
                <label for="mensaje" class="label-name">
                  <span class="">Mensaje</span>
                </label>
              </div>
              <div class="form" >
                <input type="file" ngModel name="asunto" id="asunto" [ngModel] (change)="selectFile($event)" />
                <label for="asunto" class="label-name" >
                  <span class="content-name">Adjunta un archivo</span>
                </label>
              </div>
              <div>
                <button class="span"
                [disabled]="sendForm.invalid" type="submit">
                  Añadir
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>